ACTION=="add", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="00dd", DRIVER=="usbhid", RUN+="/bin/bash /usr/lib/mcp2221-dkms/driver_load.sh", OPTIONS="last_rule"
